body {
		background-color: whitesmoke;
				}
	h1 {
		background-color: #4aaaa5;
		color: white;
		width: 300px;
		height: 75px;
		text-align: center;
		padding-top: 25px;
			}
	div.Aboutme {
		background-color: white;
		width: 600px;
		height: 300px;
	}
	div.Connect {
		background-color: white;
		width: 300px;
		height: 200px;
		position: absolute;
		right: 100px;
		top: 150px;
		float: left;
	}
	h2 {
		color: #4aaaa5;
	}
	h3 {
		text-align: center;
		color: #4aaaa5;
	}
	footer.footer {
		margin-top: -50px
		text-align: center;
	}
	div.Github {
		float: left;
	}
	div.LinkedIn {
		float: left;
	}
	div.Stack {
		float: left;
	}